body,
html {
    height: 100%;
}

.banxin {
    width: 1080px;
    height: 100%;
    margin: auto;
}

.clickwindow {
    width: 450px;
    height: 290px;
    border: 2px solid #845F3F;
    position: absolute;
    margin-left: -225px;
    padding: 50px 40px 40px 40px;
    box-sizing: border-box;
    display: none;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.clickwindow h2 {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #333;
    line-height: 20px;
    margin-bottom: 35px;
}

.clickwindow p {
    font-size: 14px;
    color: #333;
    line-height: 22px;
}

.clickwindow span {
    display: inline-block;
    width: 170px;
    height: 44px;
    border: 2px solid #845F3F;
    text-align: center;
    line-height: 44px;
    margin-top: 20px;
    border-radius: 5px;
}
.clickwindow span:hover{
    background-color:#845F3F;
    color: #fff;
}
.clickwindow .span1 {
    margin-right: 15px;
}

.clickwindow i {
    color: #845F3F;
}





.header {
    height: 48px;
    background-color: #333;
}

.header .banxin {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .banxin a {
    font-size: 14px;
    color: #e7e7e7;
}

.header .banxin div {
    padding: 0 10px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
}

.header .banxin .last {
    padding-right: 0;
}

.header .banxin span {
    color: #666;
}

.header .banxin .phone {
    display: inline-block;
    height: 25px;
    width: 20px;
}